<!-- <button (click)="redirecttoform()" >to form</button> -->




<!-- Button trigger modal -->


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="card-body d-flex align-items-center">
            <p class="card-title flex-grow-1">Advanced Table</p>
            <button type="button" class="btn btn-info my-btn" (click)="displayCondidat()">Display candidates</button>

            <button type="button" class="btn btn-info my-btn" data-toggle="modal" data-target="#exampleModalCenter4" (click)="getstatistique()">
             statistics
            </button>

            <button type="button" class="btn btn-primary my-btn" data-toggle="modal" data-target="#exampleModalCenter2">
              addJob
            </button>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="display expandable-table" style="width:100%">
                  <thead>
                    <tr>
                      <th>title</th>
                      <th>specialty</th>
                      <th>description</th>
                      <th>requirements</th>
                      <th>location</th>
                      <th>date_limite</th>
                      
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let offer of listOffers">
                   <tr>
                    <td>{{offer.title}}</td>
                    <td>{{offer.specialty}}</td>
                    <td>{{offer.description}}</td>
                    <td>{{offer.requirements}}</td>
                    <td>{{offer.location}}</td>
                    <td>{{offer.date_limite}}</td>
                    <td>
                      <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter3" (click)="getId(offer.idOffre)" >
                        Show candidats
                       </button>
                      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" (click)="getId(offer.idOffre)" >
                       Edit
                      </button>
                      <button type="button" class="btn btn-danger"  (click)="deleteOffre(offer.idOffre)" >
                        Delete
                       </button>
                        -->
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter3" (click)="getId(offer.idOffre)" style="margin-right: 10px;">
                          Show candidats
                        </button>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" (click)="getId(offer.idOffre)" style="margin-right: 10px;">
                          Edit
                        </button>
                        <button type="button" class="btn btn-danger" (click)="deleteOffre(offer.idOffre)">
                          Delete
                        </button>
                        

  
                    </td>
                   </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
        </div> 
      </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <form novalidate>
          <div class="row">
              <div class="col-md-12 grid-margin">
                  <div class="card rounded">
                      <div class="card-header">
                          <h4 class="card-title">ADD ADS</h4>
                      </div>
                      <div class="card-body">
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="title"
                                [(ngModel)]="offerJob.title" placeholder="Title" required #titleInput>
                        </div>
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="specialty"
                                [(ngModel)]="offerJob.specialty" placeholder="specialty" required #titleInput>
                        </div>
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="description"
                                [(ngModel)]="offerJob.description" placeholder="description" required #titleInput>
                        </div>
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="location"
                                [(ngModel)]="offerJob.location" placeholder="location" required #titleInput>
                        </div>
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="requirements"
                                [(ngModel)]="offerJob.requirements" placeholder="requirements" required #titleInput>
                        </div>
                       
                        <div class="form-group text-center">
                            <input type="date" class="form-control form-control-sm w-75 mx-auto" name="startDate"
                                [(ngModel)]="offerJob.date_limite" placeholder="Date début">
                        </div>
            
      
                          <div class="form-group text-center"> 
                            <!-- aria-label="Close"  data-dismiss="modal" (click)="closeModal(); -->
                              <!-- <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" (click)="closeModal();  (click)="UpdateOffer()" >Update</button> -->
                              <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" (click)="closeModal(); UpdateOffer()">Submit</button>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal2 -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <form>
          <div class="row">
              <div class="col-md-12 grid-margin">
                  <div class="card rounded">
                      <div class="card-header">
                          <h4 class="card-title">ADD OfferJob</h4>
                      </div>
                      <div class="card-body">
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="title"
                                [(ngModel)]="offerJob.title" placeholder="Title" required #titleInput>
                        </div>
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="specialty"
                                [(ngModel)]="offerJob.specialty" placeholder="specialty" required #titleInput>
                        </div>
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="description"
                                [(ngModel)]="offerJob.description" placeholder="description" required #titleInput>
                        </div>
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="location"
                                [(ngModel)]="offerJob.location" placeholder="location" required #titleInput>
                        </div>
                        <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="requirements"
                                [(ngModel)]="offerJob.requirements" placeholder="requirements" required #titleInput>
                        </div>
                        <!-- <div *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)" class="alert alert-danger">
                    <div *ngIf="titleInput.errors?.['required']">
                        <p class="text-danger">Id is required</p>
                    </div>
                    <div *ngIf="titleInput.errors?.['minlength']">
                        <p class="text-danger">Must be at least 4 characters long</p>
                    </div>
                </div> -->
                        <div class="form-group text-center">
                            <input type="date" class="form-control form-control-sm w-75 mx-auto" name="startDate"
                                [(ngModel)]="offerJob.date_limite" placeholder="Date début">
                        </div>
            
      
                          <div class="form-group text-center"> 
                            <!-- aria-label="Close"  data-dismiss="modal" (click)="closeModal(); -->
                              <!-- <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" (click)="closeModal();  (click)="UpdateOffer()" >Update</button> -->
                              <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" (click)="closeModal(); addOffre()">Submit</button>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal3 -->
<div class="modal fade"  id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 1000px;">

      <div class="modal-body">
        <table class="display expandable-table" style="width: auto">
          <thead>
            <tr>
              <th>name</th>
              <th>experience</th>
              <th>note</th>
              <th>motivationLetter</th>
              <th>email</th>
            </tr>
          </thead>
          <tbody *ngFor="let c of listcandidat">
           <tr>
            <td>{{c.name}}</td>
            <td>{{c.experience}}</td>
            <td>{{c.note}}</td>
            <td>{{c.motivationLetter}}</td>
            <td>{{c.email}}</td>
           </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal4 -->
<div class="modal fade"  id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 1000px;">

      <div class="modal-body">
        <table class="display expandable-table" style="width: auto">
          <thead>
            <tr>
              <th>specialite</th>
              <th>nombres des Offres</th>
              <th>nombres des Candidats</th>
            </tr>
          </thead>
          <tbody *ngFor="let c of listStatistique">
           <tr>
            <td>{{c.specialite}}</td>
            <td>{{c.nbOffres}}</td>
            <td>{{c.nbCandidats}}</td>
           
           </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>