<div class="main-container">
  <div class="row min-height-1088 no-flex-wrap">
    <div class="card col-md-12 ps-0 pe-0 background-grey border-none">
      <div class="col ps-2 pe-2 justify-content-between ">
        <div class="card ps-2 pe-2 min-height-80">
          <div class="row ps-2 pe-2">
            <div class="col-md-12 red-color ">
              <nav class="navbar navbar-expand-lg navbar-light red-color">
                <a class="navbar-brand" href="#">
                  <img src="assets/images/esprit.png" [routerLink]="['/accueil']" width="60" height="60" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link btn btn-light" [routerLink]="['/login']">Login</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <div class="card ps-2 pe-2  min-height-1008">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>



