<form>
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-header">
            <h4 class="card-title">Update Equipment</h4>
          </div>
          <div class="card-body">
            <div class="form-group text-center">
              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="type" [(ngModel)]="equipment.type" placeholder="Type">
            </div>
            <div class="form-group text-center">
              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="name" [(ngModel)]="equipment.name" placeholder="Name">
            </div>
            <div class="form-group text-center">
              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="description" [(ngModel)]="equipment.description" placeholder="Description">
            </div>
            <div class="form-group text-center">
              <select class="form-control form-control-sm w-75 mx-auto" name="status" [(ngModel)]="equipment.status">
                <option *ngFor="let status of equipementStatusValues" [value]="status">{{ status }}</option>
              </select>
            </div>
            <div class="form-group text-center">
              <input type="number" class="form-control form-control-sm w-75 mx-auto" name="quantity" [(ngModel)]="equipment.quantity" placeholder="Quantity">
            </div>
            <div class="form-group text-center">
              <input type="date" class="form-control form-control-sm w-75 mx-auto" name="purshaseDate" [(ngModel)]="equipment.purshaseDate">
            </div>
            <div class="form-group text-center">
              <input type="number" step="0.01" class="form-control form-control-sm w-75 mx-auto" name="cost" [(ngModel)]="equipment.cost" placeholder="Cost">
            </div>
            <div class="form-group text-center">
                <select class="form-control form-control-sm w-75 mx-auto" name="classroom" [(ngModel)]="idClass">
                  <option *ngFor="let class of clasroomsList" [ngValue]="class.id">
                    {{ class.block ? class.block.name + '-' : '' }}{{ class.roomnumber }}
                  </option>
                </select>
              </div>
              
            <div class="form-group text-center">
              <button type="submit" class="btn btn-danger" (click)="update()">Update Equipment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  