
 

  <div class="row">
        <div class="col-12">  
          <div class="table-responsive">
            <table class="display expandable-table" style="width:100%">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Role</th>
                    <th>intrest</th>
                 <th>Team</th>
                  <th>Team captain </th>

                  <th>Actions</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: currentPage }">
                  
                  <td>{{ user.firstName }}</td>
                  <td><ng-container  *ngFor="let r of user.roles" >{{r.roleName}} , </ng-container></td>
                     <td>{{ user.profil.intrest }}</td>
                 <td *ngIf="user.team">{{ user.team.name }}</td>
                 <td *ngIf="!user.team">only student have team</td>
                  <td *ngIf="user.profil.teamcaptain"> yes</td>
                   <td *ngIf="!user.profil.teamcaptain">No</td>
                    <div *ngFor="let r of user.roles">               
                         <td *ngIf="r.roleName === 'teacher'" >
                    <button type="submit" class="btn btn-danger" (click)="asigntojury(user.id)">asign</button>
                  </td>
                 </div>

                 
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </div>
<button class="btn btn-danger"  routerLink="/addevent">Add event</button>
<!--
<div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>-->