<div class="wrapper" (mouseenter)="toggleShow(true)" (mouseleave)="toggleShow(false)">
    <div class="emojis" *ngIf="showEmojis">
      <span *ngFor="let emoji of emojiList; index as i;">
        <img [src]="emojiPath(emoji)" width='75px' (click)="reactPost(emoji)">
      </span> 
    </div>


    
    <span class="like"  [class.liked]="userReaction != null">
        Like
    </span>
    <span *ngIf="userReaction">
      | You reacted <img [src]="emojiPath(userReaction.reaction)">
    </span>
</div>