<div class="row me-0">
  <div class="card col-md-4 text-center ms-5 mt-3 me-3">
    <div class="col  me-3">
      <div class="mb-3 mt-3">
        <img src="favicon.ico" class="rounded-circle" width="200px" height="200px" />
      </div>
      <div class="mb-3" >
        <h2>Nom Prénom</h2>
        <small class="form-text text-muted">Adresse, ville, codePostal</small>
      </div>
    </div>
  </div>
  <div class=" card col-md-7 ms-3 mt-3">
    <form class="mt-4 me-3">
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Current Password">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="New Password">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Confirm New Password">

      </div>
    </form>
    <div class="row mt-2 ">
      <div class="col-md-12 text-end">
        <button class="btn btn-danger me-3">
          <i class="fas fa-ban red-color"></i>&nbsp;Cancel
        </button>
        <button class="btn btn-primary me-3">
          <i class="fas fa-save red-color"></i>&nbsp;Save
        </button>
      </div>
    </div>
  </div>
</div>

