
<div class="card" style="width: 18rem;" *ngFor="let o of listJobOffres">
    <div class="card-body">
      <h5 class="card-title">{{o.title}}</h5>
      <p class="card-text">Description :{{o.description}}</p>
      <p class="card-text">Speaciality: {{o.specialty}}</p>
      <p class="card-text">Location : {{o.location}}</p>
      <p class="card-text">Requirements{{o.requirements}}</p>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" (click)="postulerId(o.idOffre)" >
        Postuler
       </button>
    </div>
  </div>



  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
  
        <div class="modal-body">
          <!-- <form>
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="card rounded">
                        <div class="card-header">
                            <h4 class="card-title">ADD ADS</h4>
                        </div>
                        <div class="card-body">
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="title"
                              placeholder="Title" required #titleInput>
                          </div>
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="specialty"
                               placeholder="specialty" required #titleInput>
                          </div>
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="description"
                                 placeholder="description" required #titleInput>
                          </div>
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="location"
                                 placeholder="location" required #titleInput>
                          </div>
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="requirements"
                                  placeholder="requirements" required #titleInput>
                          </div>
        
                          <div class="form-group text-center">
                              <input type="date" class="form-control form-control-sm w-75 mx-auto" name="startDate"
                                  placeholder="Date début">
                          </div>
              
        
                            <div class="form-group text-center"> 
                       
                                <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" >Submit</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </form> -->
        <app-application-form [idApp]="idOffre"></app-application-form>
        </div>
      </div>
    </div>
  </div>