<div class="container">
  <div class="header">
    <button class="btn btn-danger" routerLink="/addblocks" style="background-color: #E60A14; color: #fff">Add</button>
  </div>
  <div class="table-responsive">
      <table class="display expandable-table" style="width:100%">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>numberOfFloor</th>
            <th>location</th>
            <th>description</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let block of blocks">
            <td>{{ block.id }}</td>
            <td>{{ block.name }}</td>
            <td>{{ block.numberOfFloor }}</td>
            <td>{{ block.location }}</td>
            <td>{{ block.description }}</td>
            <td><button class="btn btn-danger" (click)="deleteBlock(block.id)">Delete</button> </td>
            <td> <a class="btn btn-danger" [routerLink]="['/updateblocks',block.id]">Update</a></td>
            

            <td>

            </td>
          </tr></tbody>
      </table>
  </div>
</div>