<div class=" row mb-1 me-0 custom-border">
  <div class="col-md-1 border-end p-1 text-center">
    <img src="favicon.ico" alt="user-photo" width="100px" height="100px">
  </div>

  <div class="col-md-5 border-end mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info red-color"></i></div>
        <div class="col-md-11">{{userDetail.firstName}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info red-color"></i></div>
        <div class="col-md-11">{{userDetail.lastName}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-at red-color "></i></div>
        <div class="col-md-11">{{userDetail.emailAddress}}</div>
      </div>
    </div>
  </div>

  <div class="col-md-3 border-end mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-house-chimney "></i></div>
        <div class="col-md-11">{{userDetail.address?.address1}}&nbsp;{{userDetail.address?.address2}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-location-dot "></i></div>
        <div class="col-md-11">{{userDetail.address?.codePostal}}&nbsp; {{userDetail.address?.city}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-globe-africa "></i></div>
        <div class="col-md-11">{{userDetail.address?.country}}</div>
      </div>
    </div>
  </div>

  <div class="col-md-3 ">
    <div class="row">
      <div class="col-md-4">
        <a type="button" class="btn btn-link btn-primary" [routerLink]="['/home/modify',userDetail.id]">
          <i class="fa-solid fa-pencil "></i>&nbsp;Modifier
        </a>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link btn-danger" (click)="supprimerUser()">
          <i class="fa-solid fa-trash "></i>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4 mt-3">
        <button type="button" class="btn btn-link btn-secondary">
          ADD ROLE
        </button>
      </div>
    </div>
  </div>
</div>
