.main-container{
  margin: 50px;
}
.min-height-600{
  min-height: 600px;
}
.no-flex-wrap{
  flex-wrap: inherit !important;
}
.min-height-80{
  min-height: 80px;
}
.min-height-440{
  min-height: 520px;
}
