<form >
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">ADD ADS</h4>
          </div>
          <div class="card-body">
            <div class="form-group text-center">
                <input type="text" class="form-control form-control-sm w-75 mx-auto" name="title" [(ngModel)]="ad.title" placeholder="Title" required #titleInput>
            </div>
            <!-- <div *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)" class="alert alert-danger">
                <div *ngIf="titleInput.errors?.['required']">
                    <p class="text-danger">Id is required</p>
                </div>
                <div *ngIf="titleInput.errors?.['minlength']">
                    <p class="text-danger">Must be at least 4 characters long</p>
                </div>
            </div> -->
            <div class="form-group text-center">
              <input type="date" class="form-control form-control-sm w-75 mx-auto" name="startDate" [(ngModel)]="ad.startDate" placeholder="Date début">
            </div>
            <div class="form-group text-center">
              <input type="date" class="form-control form-control-sm w-75 mx-auto" name="endDate" [(ngModel)]="ad.endDate" placeholder="Date fin">
            </div>
            <div class="form-group text-center">
              <input type="file" class="form-control form-control-sm w-75 mx-auto" name="image" [(ngModel)]="ad.image" placeholder="Upload Image">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger" (click)="addAds()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>