<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" data-toggle="collapse"  aria-expanded="false" aria-controls="ui-basic" routerLink="/home/dashborad">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse"  aria-expanded="false" aria-controls="ui-basic" routerLink="/home/ads">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Advertisement</span>
        <i class="menu-arrow"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Post</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html" routerLink="/home/posts">Posts</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Comments</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Reacts</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>