<form>
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card rounded">
                <div class="card-header">
                    <h4 class="card-title">ADD ADS</h4>
                </div>
                <div class="card-body">
                    <div class="form-group text-center">
                        <input type="text" class="form-control form-control-sm w-75 mx-auto" name="name"
                         [(ngModel)]="applicationForm.name"   placeholder="name" required #titleInput>
                    </div>
                    <div class="form-group text-center">
                        <input type="number" class="form-control form-control-sm w-75 mx-auto" name="experience"
                        [(ngModel)]="applicationForm.experience"    placeholder="experience" required #titleInput>
                    </div>
                    <div class="form-group text-center">
                        <input type="number" class="form-control form-control-sm w-75 mx-auto" name="salary"
                        [(ngModel)]="applicationForm.salary"    placeholder="salary" required #titleInput>
                    </div>
                    <div class="form-group text-center">
                        <input type="text" class="form-control form-control-sm w-75 mx-auto" name="cv"
                        [(ngModel)]="applicationForm.cv"  placeholder="cv" required #titleInput>
                    </div>
                    <div class="form-group text-center">
                        <input type="text" class="form-control form-control-sm w-75 mx-auto" name="motivationLetter"
                        [(ngModel)]="applicationForm.motivationLetter"    placeholder="motivationLetter" required #titleInput>
                    </div>


                    <div class="form-group text-center">
                        <input type="text" class="form-control form-control-sm w-75 mx-auto" name="email"
                        [(ngModel)]="applicationForm.email"   placeholder="email" required #titleInput>
                    </div>

                    <div class="form-group text-center">
                        <input type="text" class="form-control form-control-sm w-75 mx-auto" name="note"
                        [(ngModel)]="applicationForm.note"    placeholder="note" required #titleInput>
                    </div>
                  
                    <!-- aria-label="Close"  data-dismiss="modal" (click)="closeModal() -->


                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" (click)="addApp();closeModal()" >Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
